.collection_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}
.collection_image {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
}
.collections-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.collections-table-header-item,
.collections-table-row-item {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: left;
  border-right: none;
  border-left: none;
}

.collections-table-header-item {
  background-color: #f2f2f2;
  color: #333;
}

.collections-table-header-row:nth-child(even) {
  background-color: #f2f2f2;
}

.collection-table-row:hover {
  background-color: #d9e0ec;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .collection-table-container {
    width: 80vw;
    overflow: auto;
  }
}
