.nft_filter_range {
  width: 95%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.nft_filter_range input[type="number"] {
  width: 40%;
  text-align: center;
  outline: none;
  border: 1px solid transparent;
  transition: var(--ms-mp-transition);
  padding: 0.75rem;
  box-sizing: border-box;
  background-color: var(--ms-mp-gray-light);
  border-radius: var(--ms-mp-large-border-radius);
}
.nft_filter_range input:hover {
  border: 1px solid var(--ms-mp-text-color);
}

.nft_filter_range input:focus {
  border: 1px solid var(--ms-mp-primary-color);
}

.nft_filter_button {
  width: 100%;
  padding: 0.75rem;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: var(--ms-mp-large-border-radius);
  font-weight: bold;
  background-color: var(--ms-mp-primary-color);
  color: var(--ms-mp-text-color);
  transition: var(--ms-mp-transition);
}

.nft_filter_button:hover {
  opacity: 0.9;
}
.nft_filter_button:disabled {
  opacity: 0.3;
}
.max_error {
  color: var(--ms-mp-red);
}

.nft_filter_slider {
  width: 95%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1;
}
.nft_filter_slider input[type="range"] {
  -webkit-appearance: none !important;
  appearance: none;
  width: 90%;
  border-radius: 16px;
  border: none;
  outline: none;
}
.nft_filter_slider p {
  width: 10%;
}
/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: var(--ms-mp-card-border-color);
  border-radius: 16px;
}
/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: var(--ms-mp-card-border-color);
  border-radius: 16px;
}

.nft_filter_slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--w3o-text-color);
  border-radius: 50%;
  cursor: pointer;
}
.nft_filter_slider input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none !important;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--w3o-text-color);
  border-radius: 50%;
  cursor: pointer;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px var(--ms-mp-transparent-black-2);
}

input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px var(--ms-mp-transparent-black);
}

/* Hover, active & focus Thumb: Firfox */

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px var(--ms-mp-transparent-black-2);
}

input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px var(--ms-mp-transparent-black);
}
