.filter_button {
  width: 10%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem;
  border-radius: var(--ms-mp-large-border-radius);
  border: none;
  background-color: var(--ms-mp-gray-light);
  transition: var(--ms-mp-transition);
  cursor: pointer;
  position: relative;
}

.filter_counter {
  position: absolute;
  background-color: var(--ms-mp-blue);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -8px;
  right: 0;
  font-size: 12px;
}

@media screen and (max-width: 820px) {
  .filter_button {
    width: 15%;
  }
}
