.cards_holder {
  padding: 0.75rem;
  display: grid;
  gap: 1rem;
  max-height: calc(100vh - 48px - 48px);
  overflow-y: auto;
  border-left: var(--ms-mp-gray-border);
}

.cards_holder::-webkit-scrollbar {
  display: none;
}

.small_cards_holder {
  width: 80%;
}

.large_cards_holder {
  width: 100%;
  border-left: none;
}

.small_cards_holder_minmax_v1 {
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.small_cards_holder_minmax_v2 {
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
