.listing_or_offer_modal_bottom {
  padding: 0 2rem 2rem 2rem;
  position: relative;
}

.tokens-dropdown {
  position: absolute;
  top: 55px;
  right: 30px;
  z-index: 100;
  height: 100px;
  width: 154px;
  background-color: var(--ms-mp-body-background);
  border-radius: var(--ms-mp-card-border-radius);
  border: var(--ms-mp-gray-border);
  overflow: auto;
  box-sizing: border-box;
  box-shadow: var(--ms-mp-box-shadow-light);
  padding: 0.5rem;
}

.chevron-down {
  transition: var(--ms-mp-transition);
}
.chevron-down-2 {
  transition: var(--ms-mp-transition);
}

.chevron-down-2 p {
  font-weight: 500;
}

.chevron-down:hover {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.single-token {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  height: 20px;
  cursor: pointer;
  transition: var(--ms-mp-transition);
}

.single-token:hover {
  background-color: var(--ms-mp-controlbar-hover);
}
.single-inner-token {
  display: flex;
  align-items: center;
  gap: 10px;
}

.single-inner-token > img {
  width: 20px;
  height: 20px;
}

.single-token p {
  color: var(--ms-mp-text-color);
}

.token-checkmark {
  margin-left: auto;
}

.listing_or_offer_modal_bottom > .input_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: var(--ms-mp-gray-border);
  /* padding: 0.5rem 1rem; */
  height: 46px;
  border-radius: var(--ms-mp-large-border-radius);
  transition: var(--ms-mp-transition);
}

.listing_or_offer_modal_bottom > .input_area > p {
  margin: 0;
  font-weight: 500;
  padding: 0 1rem;
}

.listing_or_offer_modal_bottom > .input_area > .weth-value {
  outline: none;
  border: none;
  width: 85%;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border-right: 1px solid var(--ms-mp-gray);
  padding: 0 1rem;
}
.listing_or_offer_modal_bottom > .input_area > .weth-value.no-right {
  outline: none;
  border: none;
  width: 85%;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border-right: 0;
  padding: 0 1rem;
}

.listing_or_offer_modal_bottom > .input_area > .weth-value-2 {
  outline: none;
  border: none;
  width: 85%;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0 1rem;
}

.listing_or_offer_modal_bottom > .input_area > .weth-value:hover {
  border-right: 1px solid var(--ms-mp-text-color);
}
.listing_or_offer_modal_bottom > .input_area > .weth-value.no-right:hover {
  border-right: 0;
}
/* .listing_or_offer_modal_bottom > .input_area > .weth-value-2:hover {
  border-right: 1px solid var(--ms-mp-text-color);
} */

.listing_or_offer_modal_bottom > .input_area > .weth-value:focus-within {
  border-right: 1px solid var(--ms-mp-primary-color);
}
.listing_or_offer_modal_bottom
  > .input_area
  > .weth-value.no-right:focus-within {
  border-right: 0;
}
/* .listing_or_offer_modal_bottom > .input_area > .weth-value-2:focus-within {
  border-right: 1px solid var(--ms-mp-primary-color);
} */

.listing_or_offer_modal_bottom > .input_area .chevron-down {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.listing_or_offer_modal_bottom > .input_area .chevron-down:hover {
  cursor: pointer;
}

.listing_or_offer_modal_bottom > .input_area .chevron-down.no-cursor {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}
.listing_or_offer_modal_bottom > .input_area .chevron-down.no-cursor:hover {
  background-color: var(--ms-mp-gray-light);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.listing_or_offer_modal_bottom > .input_area .chevron-down p {
  font-weight: 500;
}

.listing_or_offer_modal_bottom > .input_area .chevron-down-2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  /* cursor: pointer; */
}

.listing_or_offer_modal_bottom > .input_area:hover {
  border: 1px solid var(--ms-mp-text-color);
}

.listing_or_offer_modal_bottom > .input_area:focus-within {
  border: 1px solid var(--ms-mp-primary-color);
}

.duration_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.duration_container {
  width: 80%;
  position: relative;
}

.duration_trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: calc(0.5rem + 2px) 1rem;
  background-color: transparent;
  border: var(--ms-mp-gray-border);
  border-radius: var(--ms-mp-large-border-radius);
  cursor: pointer;
  transition: var(--ms-mp-transition);
  color: var(--ms-mp-text-color);
}

.duration_trigger:hover {
  background-color: var(--ms-mp-gray-light);
}

.bottom_details {
  margin-top: 0.5rem;
}

.bottom_details > p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.bottom_details > p > span:last-of-type {
  font-weight: 500;
  font-size: 14px;
}

.listing_or_offer_modal_bottom > .solid_button {
  min-width: 25%;
  display: block;
  margin: auto;
  margin-top: 1rem;
}

.duration_list {
  position: absolute;
  background-color: var(--ms-mp-body-background);
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: var(--ms-mp-box-shadow);
  z-index: 1;
  max-height: 250px;
  overflow-y: auto;
  border: var(--ms-mp-gray-border);
  border-color: var(--ms-mp-gray-light);
  top: 120%;
}

.duration_list::-webkit-scrollbar {
  display: none;
}

.duration_list > button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  transition: var(--ms-mp-transition);
  padding: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--ms-mp-text-color);
}

.duration_list > button:hover {
  background-color: var(--ms-mp-gray-light);
}

.duration_list > button:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.listing_or_offer_modal_bottom > .input_area.balance_warning {
  border-color: red;
}

@media screen and (max-width: 600px) {
  .duration_container {
    width: 70%;
  }
}
