.activity_filter_button {
  width: 100%;
  display: block;
  background-color: transparent;
  border: none;
  transition: var(--ms-mp-transition);
  border-bottom: var(--ms-mp-gray-border);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--ms-mp-text-color);
}

.activity_filter_button:hover {
  background-color: var(--ms-mp-gray-light);
}

.auction_filter_button {
  width: 100%;
  background-color: transparent;
  border: none;
  transition: var(--ms-mp-transition);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--ms-mp-text-color);
}

.activity_filter_button > div:first-of-type {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.auction_filter_button > div:first-of-type {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 360px;
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  border-radius: 6px;
  bottom: 100%;
  left: 50%;
  margin-left: -180px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border-width: 5px;
  border-style: solid;
  border-color: grey transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 600px) {
  .activity_filter_button {
    padding: 1.5rem 0;
    font-size: 1rem;
  }

  .auction_filter_button {
    padding: 1.5rem 0;
    font-size: 1rem;
  }
}
