.collection_card_image {
  width: 12rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.collections_section_grid {
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
  }
  @media screen and (max-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5rem;
    column-gap: 0.5rem;
  }
}

.collection_card_container {
  border: solid 1px #d3d3d3;
  width: fit-content;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
.collection_card_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0.5rem;
  flex: 1;
}
.ethereum_icon {
  width: 0.8rem;
}

.price_container {
  width: 100%;
  display: flex;
  justify-container: flex-start;
  gap: 0.3rem;
}
.card_footer_info {
  display: flex;
  flex-direction: column;
}
.card_footer_info_label {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.collection_name_container {
  width: 11rem;
  display: flex;
  align-items: center;
  word-wrap: break-word;
}
.check_icon {
  width: 0.8rem;
  height: 1.2rem;
  margin-right: 0.2rem;
}
