.offers {
  border: 1px solid var(--ms-mp-gray);
  border-radius: 1rem;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
}

.offers_title {
  font-size: 36px;
  margin: 0;
}

.offers_table_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
}

.offers_table_head > p,
.offers_table_item > p {
  width: calc(100% / 3);
}

.offers_table_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offers_table_item > p:last-of-type {
  color: var(--ms-mp-blue);
}

.more_offers_btn {
  display: block;
  margin: auto;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: var(--ms-mp-transition);
}

.more_offers_btn:hover {
  color: var(--ms-mp-blue);
}

@media screen and (max-width: 820px) {
  .offers_table {
    overflow-x: auto;
  }

  .offers_table > div {
    width: 120%;
  }
}
