.nft_card_skeleton {
  border: 1px solid var(--ms-mp-card-border-color);
  border-radius: var(--ms-mp-card-border-radius);
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  transition: var(--ms-mp-transition);
  position: relative;
  justify-content: start;
}
.text_skeleton {
  margin: 0 1rem;
}
.skeleton_img {
  height: auto;
  aspect-ratio: 3/4;
  display: block;
  max-height: 420px;
  object-fit: cover;
}

/* List view styles */
.nft_list_skeleton {
  border: 1px solid var(--ms-mp-card-border-color);
  border-radius: var(--ms-mp-card-border-radius);
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  transition: var(--ms-mp-transition);
  height: 150px;
}
