.control_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 1rem auto;
  position: sticky;
  top: 0;
  height: 10%;
  z-index: 30;
  background-color: var(--ms-mp-body-background);
  padding: 10px 0;
}

.control_bar button {
  color: unset;
}

@media screen and (max-width: 600px) {
  .control_bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }

  .control_bar>.control_bar_search {
    grid-column: 2/4;
  }

  .control_bar>.filter_button {
    grid-column: 1/2;
  }

  .control_bar>.control_dropdown_parent {
    grid-column: 1/-1;
  }
}