.control_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 1rem auto;
}

.filter_button {
  width: 10%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem;
  border-radius: var(--ms-mp-large-border-radius);
  border: none;
  background-color: var(--ms-mp-gray-light);
  transition: var(--ms-mp-transition);
  cursor: pointer;
  position: relative;
}

.filter_counter {
  position: absolute;
  background-color: var(--ms-mp-blue);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -8px;
  right: 0;
  font-size: 12px;
}

.control_bar_search {
  width: 55%;
  background-color: var(--ms-mp-gray-light);
  padding: calc(0.75rem - 2px);
  border-radius: var(--ms-mp-large-border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  transition: var(--ms-mp-transition);
}

.control_bar_search:hover {
  border: 2px solid black;
}

.control_bar_search:focus-within {
  border: 2px solid var(--ms-mp-blue);
}

.control_bar_search input {
  width: 95%;
  background-color: transparent;
  outline: none;
  border: none;
}

.control_dropdown_parent {
  width: 15%;
  position: relative;
}

.control_dropdown_trigger {
  background-color: var(--ms-mp-gray-light);
  padding: 0.75rem;
  border-radius: var(--ms-mp-large-border-radius);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  transition: var(--ms-mp-transition);
  cursor: pointer;
}

.control_dropdown_trigger:hover {
  background-color: var(--ms-mp-gray);
}

.control_dropdown_list {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  border-radius: 1rem;
  margin-top: 0.5rem;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  z-index: 1;
}

.control_dropdown_list button {
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 0.5rem;
  cursor: pointer;
  transition: var(--ms-mp-transition);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control_dropdown_list button:hover {
  background-color: var(--ms-mp-gray-light);
}

.grid_buttons {
  width: 10%;
  background-color: var(--ms-mp-gray-light);
  border-radius: var(--ms-mp-large-border-radius);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.grid_buttons button {
  width: 50%;
  background-color: transparent;
  border: none;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--ms-mp-transition);
}

.grid_buttons button:first-of-type {
  border-right: 1px solid var(--ms-mp-gray);
}

.filter_button:hover,
.grid_buttons button:hover {
  background-color: var(--ms-mp-gray);
}
