.nft_page_top {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 3rem 0;
}

.nft_page_section:first-of-type {
  width: 40%;
}

.nft_page_section:last-of-type {
  width: 52%;
}

.nft_image {
  width: 100%;
  border-radius: 6px;
}

@media screen and (max-width: 820px) {
  .nft_page_section:first-of-type {
    width: 45%;
  }

  .nft_page_section:last-of-type {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .nft_page_top {
    flex-direction: column;
  }

  .nft_page_section:first-of-type,
  .nft_page_section:last-of-type {
    width: 100%;
  }

  .nft_image {
    margin-bottom: 1rem;
  }
}
