.history {
  width: 90%;
  margin: auto;
  border: var(--ms-mp-gray-border);
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin-bottom: 3rem;
}

.history_table_head {
  display: flex;
  align-items: end;
}

.history_table_head > p {
  width: calc(100% / 5);
  color: gray;
}

.history_table_head > p:first-of-type {
  font-size: 36px;
  color: black;
  margin: 0;
}

.history_row {
  display: flex;
  align-items: center;
}

.history_row p {
  width: calc(100% / 5);
}

.history_row p:last-of-type {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: fit-content;
}

.history_row p:not(:first-of-type, :nth-of-type(2)) {
  color: var(--ms-mp-blue);
  cursor: pointer;
  transition: var(--ms-mp-transition);
}

.history_row p:not(:first-of-type, :nth-of-type(2)):hover {
  color: var(--ms-mp-blue-2);
}
