.process_component {
  padding: 1rem;
  padding-bottom: 2rem;
  border-top: var(--ms-mp-gray-border);
}

.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stage p {
  font-size: 24px;
  margin: 0;
  margin-bottom: 1rem;
}

.twitter_share {
  cursor: pointer;
  transition: var(--ms-mp-transition);
}

.twitter_share:hover {
  color: var(--ms-mp-blue);
}
