.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 6rem;
}
.navbar a {
  color: unset;
}

.nav_left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.logo_holder {
  max-width: 150px;
}

.logo_holder img {
  width: 100%;
  max-height: 3.5rem;
  object-fit: contain;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav_links > a > svg {
  transition: var(--ms-mp-transition);
}

.nav_links > a > svg:hover {
  opacity: 0.5;
}

.collections_dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.collection_dropdown_trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--ms-mp-transition);
  color: var(--ms-mp-text-color);
}

.collection_dropdown_trigger:hover {
  opacity: 0.5;
}

.collections_dropdown_list {
  position: absolute;
  top: 150%;
  background-color: white;
  width: 230%;
  z-index: 1;
  padding: 0.75rem;
  border-radius: var(--ms-mp-card-border-radius);
  box-shadow: var(--ms-mp-box-shadow);
}

.collections_dropdown_list button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  transition: var(--ms-mp-transition);
  cursor: pointer;
  color: var(--ms-mp-text-color);
}

.collections_dropdown_list button:hover {
  background-color: var(--ms-mp-gray-light);
}

.sell_button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--ms-mp-transition);
  color: var(--ms-mp-text-color);
}

.sell_button:hover {
  opacity: 0.5;
}
