.ms_mp_navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 6rem;
}
.ms_mp_navbar a {
  color: unset;
}

.ms_mp_nav_left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.ms_mp_logo_holder {
  max-width: 150px;
}

.ms_mp_logo_holder img {
  width: 100%;
}

.ms_mp_nav_links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ms_mp_collections_dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
}
