.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 6rem;
}
.navbar a {
  color: unset;
}

.nav_left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.logo_holder {
  max-width: 150px;
}

.logo_holder img {
  width: 100%;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav_links > a > svg {
  transition: var(--ms-mp-transition);
}

.nav_links > a > svg:hover {
  opacity: 0.5;
}

.collections_dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
}
