.ms_mp_status_list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--ms-mp-transition);
}

.ms_mp_status_list_item:hover {
  background-color: var(--ms-mp-gray-light);
}
