.styles_page {
  padding: 2rem 0;
}

.mystic_sdk_main,
.mystic_sdk_main input,
.css-qiwgdb.css-qiwgdb.css-qiwgdb {
  color: var(--ms-mp-text-color) !important;
}

.mystic_sdk_request_modal_content {
  background-color: var(--ms-mp-body-background) !important;
}

.mystic_sdk_asset_holder,
.mystic_sdk_modal_content,
.mystic_sdk_listing_screen_assets .mystic_sdk_listing_swap_icon,
.mystic_sdk_date_picker_main_body,
.css-6hp17o-MuiList-root-MuiMenu-list,
.MuiClock-root .css-1j9v0by-MuiClock-root,
.mystic_sdk_chain_logo_container,
.mystic_sdk_duration_holder,
.mystic_sdk_swap_item,
.mystic_sdk_search,
.mystic_sdk_search input,
.mystic_sdk_dropdown,
.mystic_sdk_dropdown_list,
.mystic_sdk_swap_item_top .mystic_sdk_listing_swap_icon,
.mystic_sdk_text_accordion,
.mystic_sdk_create_swap_content,
.mystic_sdk_holder_icon,
.mystic_sdk_token_selection_modal_body,
.mystic_sdk_mobile_assets_holder,
.mystic_sdk_mobile_preview,
.mystic_sdk_private_input {
  background-color: var(--ms-mp-body-background) !important;
}

.mystic_sdk_active_option,
.mystic_sdk_navbar_option:hover,
.mystic_sdk_all_swaps_title:hover,
.mystic_sdk_current_swaps_title {
  background: var(--ms-mp-controlbar-hover) !important;
}

.mystic_sdk_outlined-btn,
.mystic_sdk_add_token_button,
.mystic_sdk_apply_btn,
.mystic_sdk_cancel_btn,
.mystic_sdk_view_offer,
.mystic_sdk_apply_btn,
.mystic_sdk_cancel_btn {
  border-color: var(--ms-mp-primary-color) !important;
  color: var(--ms-mp-text-color) !important;
  background-color: var(--ms-mp-body-background) !important;
  font-family: var(--ms-mp-font-family) !important;
}

.mystic_sdk_outlined-btn,
.mystic_sdk_add_token_button {
  color: var(--ms-mp-primary-color) !important;
}

.mystic_sdk_asset_search:focus-within,
.mystic_sdk_token_search_bar:focus-within,
.mystic_sdk_amount_input_section {
  border: 1px solid !important;
  border-color: var(--ms-mp-primary-color) !important;
}

/* .mystic_sdk_check-box {
  background-color: var(--ms-mp-body-background) !important;
}

.mystic_sdk_check-box svg {
  color: var(--ms-mp-primary-color) !important;
} */

.mystic_sdk_accept_button,
.mystic_sdk_show_more,
.mystic_sdk_create-swap-btn,
.mystic_sdk_confirm_btn,
.mystic_sdk_selection_bottom button {
  background: linear-gradient(
      180deg,
      var(--ms-mp-primary-color),
      var(--ms-mp-primary-color-dark) 100%
    ),
    var(--ms-mp-primary-color-dark) !important;
  font-family: var(--ms-mp-font-family) !important;
}

.mystic_sdk_create-swap-btn,
.mystic_sdk_accept_button,
.mystic_sdk_cancel_button,
.mystic_sdk_add_token_button,
.mystic_sdk_show_more,
.mystic_sdk_outlined-btn {
  border-radius: var(--ms-mp-button-border-radius) !important;
}

.mystic_sdk_spinner,
.mystic_sdk_clear_btn,
.mystic_sdk_swaps_link {
  color: var(--ms-mp-primary-color) !important;
}

.mystic_sdk_chosen_closer:hover {
  background-color: var(--ms-mp-primary-color) !important;
}

.mystic_sdk_options_screen > div input:focus,
.mystic_sdk_blue {
  border-color: var(--ms-mp-primary-color) !important;
}

.mystic_sdk_dropdown {
  padding: 0.5rem !important;
}

.css-igs3ac {
  border-color: var(--ms-mp-primary-color) !important;
}

.css-1ald77x {
  color: var(--ms-mp-text-color) !important;
  opacity: 0.6 !important;
}

.mystic_sdk_chain_logo_container,
.mystic_sdk_icon_holder {
  border-color: var(--ms-mp-primary-color) !important;
}

.mystic_sdk_no_asset_text {
  color: var(--ms-mp-text-color) !important;
  opacity: 0.5;
}

.mystic_sdk_everyone {
  color: var(--ms-mp-text-color) !important;
}

.mystic_sdk_trigger_btn p,
.mystic_sdk_trigger_btn svg,
.mystic_sdk_nft_card_collection_name p,
.mystic_sdk_accordion_title p,
.mystic_sdk_accordion_title svg,
.mystic_sdk_accordion_message,
.mystic_sdk_blocky_holder p,
.mystic_sdk_swap_nft_text p,
.mystic_sdk_logout {
  color: var(--ms-mp-text-color) !important;
}

.mystic_sdk_nft_card_collection_name p {
  opacity: 0.5 !important;
}

.mystic_sdk_dropdown p {
  margin: 0.5rem 0;
}

.mystic_sdk_listing_screen_swap_icon {
  border-color: var(--ms-mp-text-color) !important;
}

.mystic_sdk_tooltip,
.css-r8u8y9 {
  background-color: var(--ms-mp-body-background) !important;
  font-family: var(--ms-mp-font-family) !important;
}

.mystic_sdk_nft_card {
  border-radius: var(--ms-mp-card-border-radius) !important;
  border-color: var(--ms-mp-card-border-color) !important;
}

.mystic_sdk_check-box_ticked {
  background-color: var(--ms-mp-primary-color) !important;
}

.mystic_sdk_blocky_holder {
  min-height: 56px;
}

.mystic_sdk_panel_title {
  margin: 1rem 0 !important;
}

@media screen and (max-width: 480px) {
  .mystic_sdk_swaps_component {
    background-color: var(--ms-mp-body-background) !important;
  }
}
