.checkbox {
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  border: 1px solid var(--ms-mp-gray);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  transition: var(--ms-mp-transition);
}

.clicked_check {
  background-color: var(--ms-mp-blue);
}
