.items_screen {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: start;
  position: sticky;
  top: 0;
}
@media screen and (max-width: 600px) {
  .items_screen {
    position: static;
  }
}
