.modal_nft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal_nft_metadata {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modal_nft_metadata > img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 13.28px;
}

.modal_nft_metadata > div > p {
  margin: 0;
}

.modal_nft_metadata > div > p:first-of-type {
  color: var(--ms-mp-gray-text);
}

.modal_nft_value {
  font-size: 20px;
  font-weight: 500;
}

.modal_nft_value span {
  font-size: 14px;
  font-weight: 400;
  color: var(--ms-mp-gray-text);
}
