.ms_mp_nft_card {
  border: 1px solid var(--ms-mp-gray);
  border-radius: 16px;
  overflow: hidden;
  box-sizing: border-box;
}

.ms_mp_nft_card img {
  width: 100%;
  display: block;
}

.ms_mp_nft_card_details {
  padding: 1rem;
}

.ms_mp_nft_card_details p {
  margin: 0;
}

.ms_mp_card_name {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.ms_mp_card_name p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
