.nft_card {
  border: 1px solid var(--ms-mp-gray);
  border-radius: var(--ms-mp-card-border-radius);
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  transition: var(--ms-mp-transition);
  position: relative;
}

.nft_card:hover {
  transform: scale(103%);
}

.nft_card img {
  width: 100%;
  display: block;
}

.nft_card_details {
  padding: 1rem;
  position: relative;
}

.nft_card_details p {
  margin: 0;
}

.card_name {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.card_name a {
  text-decoration: none;
  color: unset;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_name p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nft_card_last_sale {
  font-size: 13px;
  color: var(--ms-mp-transparent-black);
}

.nft_card_amount {
  font-weight: 600;
}

.nft_card_amount > span {
  font-weight: 400;
  font-size: 13px;
  color: var(--ms-mp-transparent-black);
}

.nft_card_details button {
  position: absolute;
  left: 0;
  right: 0;
  /* top: 100%; */
  display: block;
  width: 100%;
  padding: 0.4rem;
  border: none;
  background-color: var(--ms-mp-blue);
  color: white;
  cursor: pointer;
  transition: var(--ms-mp-transition);
  transform: translateY(100%);
}

.nft_card:hover > .nft_card_details button {
  transform: translateY(-50%);
  z-index: 1;
}

.source_icon {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;
}

.source_icon img {
  width: 100%;
}
