.collection_information_wrapper {
  padding-bottom: 3rem;
  position: relative;
  height: fit-content;
  box-sizing: border-box;
  padding-top: 4rem;
  margin-left: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: solid 1px #d9e0ec;
}

.collection_name {
  font-weight: 550;
  font-size: 1.5rem;
}
.creator_address {
}
.collection_info {
  color: rgba(0, 0, 0, 0.5);
}

.collection-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  margin-left: 1rem;
  width: 60vw;
  margin-bottom: 4rem;
}
.social-icons-container {
  display: flex;
  border: solid black 1px;
  border-radius: var(--ms-mp-large-border-radius);
  align-items: center;
  justify-content: space-evenly;
  width: 10rem;
  height: 3.5rem;
}
.items-information-container {
  width: 30rem;
  height: 7rem;
  display: flex;
  justify-content: space-around;
}
.item-info-ethereum-icon {
  width: 1rem;
}
.item-price-information {
  display: flex;
}
.item-information-label {
  font-size: 1.2rem;
}
.item-information-value,
.item-price-information-value {
  font-weight: bold;
  font-size: 1.5rem;
}
.tabs {
  width: fit-width;
  margin: 0 auto;
  position: absolute;
  inset: auto 0 0 0;
}

.tabs button {
  background-color: transparent;
  border: none;
  padding: 1rem;
  color: black;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-size: 18px;
}

.tabs button:hover {
  cursor: pointer;
}

.tabs > .active_tab {
  border-color: #085abc;
  color: black;
}
@media screen and (max-width: 1360px) {
  .collection_information_wrapper {
    padding-top: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .collection-info-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  .collection_information_wrapper {
    height: fit-content;
    box-sizing: border-box;
    padding-top: 4rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .collection_information_wrapper {
    margin-bottom: 0;
  }
  .item-information-label {
    font-size: 1rem;
  }
  .items-information-container {
    width: 20rem;
    height: 5rem;
  }
  .collection_information_wrapper {
    padding-top: 4rem;
  }
}
