@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --ms-mp-poppins: "Poppins", sans-serif;
  --ms-mp-blue: #dc3545;
  --ms-mp-blue-2: #ff132a;
  --ms-mp-gray: #d9e0ec;
  --ms-mp-gray-light: #d9e0ec3d;
  --ms-mp-gray-light-alt: #d9e0ec76;
  --ms-mp-gradient-blue: linear-gradient(
    180deg,
    var(--ms-mp-blue),
    var(--ms-mp-blue-2) 100%
  );
  --ms-mp-transition: all 0.25s ease-in-out;
  --ms-mp-smooth-transform-transition: transform 0.25s ease-in-out;
  --ms-mp-super-smooth-transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  --ms-mp-trait-title-color: rgb(191, 47, 64);
  --ms-mp-trait-background-color: rgba(191, 47, 64, 0.1);
  --ms-mp-trait-border-color: rgba(191, 47, 64, 0.5);
  --ms-mp-trait-hover-color: rgba(191, 47, 64, 0.25);
  --ms-mp-gray-border: 1px solid #d9e0ec;
  --ms-mp-transparent-black: rgba(0, 0, 0, 0.5);
  --ms-mp-large-border-radius: 64px;
  --ms-mp-card-border-radius: 16px;
  --ms-mp-red: #ed263e;
  --ms-mp-red-light: rgba(237, 38, 62, 0.25);
  --ms-mp-red-super-light: rgba(237, 38, 62, 0.1);
  --ms-mp-box-shadow: 0 3px 10px var(--ms-mp-transparent-black);
  --ms-mp-box-shadow-light: 0 3px 10px rgba(0, 0, 0, 0.25);
  --ms-mp-primary: #212428;
  --ms-mp-text-color: white;
  --ms-mp-socials: white;
}

* {
  font-family: var(--ms-mp-poppins);
  scroll-behavior: smooth;
}

img {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  transition: var(--ms-mp-transition);
  background-color: var(--ms-mp-primary);
}

.hide {
  display: none;
}

.modal_parent {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  background-color: var(--ms-mp-transparent-black);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal_content {
  width: 45%;
  background-color: var(--ms-mp-primary);
  color: var(--ms-mp-text-color);
  border-radius: 11px;
  position: relative;
}

.modal_closer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  /* color: var(--ms-mp-transparent-black); */
  color: var(--ms-mp-text-color);
  transition: var(--ms-mp-transition);
  cursor: pointer;
}

.modal_closer:hover {
  color: black;
}

.modal_header {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  display: block;
  color: unset;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
