.banner {
  position: relative;
  height: 60vh;
}

.banner img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;

  /* -webkit-mask-image: linear-gradient(
    to top,
    transparent 10%,
    black 50%,
    black 70%,
    rgba(34, 34, 34, 0.3) 100%
  ); */
}

.banner_details {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.35),
    var(--ms-mp-transparent-black)
  );
  /* background-color: rgba(0, 0, 0, 0.35); */
}

.banner_details h1 {
  font-weight: 500;
  color: white;
}

.collection_pill {
  background-color: white;
  padding: 1rem;
  border-radius: var(--ms-mp-large-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  gap: 2rem;
}

.pill_item p {
  margin: 0;
  font-size: 18px;
}

.pill_item p:first-of-type {
  font-weight: bold;
}

.pill_item p:last-of-type {
  color: var(--ms-mp-transparent-black);
}

.tabs {
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  inset: auto 0 0 0;
}

.tabs button {
  background-color: transparent;
  border: none;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-size: 18px;
}

.tabs > .active_tab {
  border-color: yellow;
  color: white;
}

@media screen and (max-width: 1024px) {
  .collection_pill {
    width: 50%;
  }
}
