.banner-wrapper {
  position: relative;
}
.banner {
  position: relative;
  height: 40vh;
}

.banner img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.banner_details {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.35),
    var(--ms-mp-transparent-black)
  );
}

.banner_details h1 {
  font-weight: 500;
  color: white;
}

.banner_pill_icon {
  max-width: 15px;
}
.collection-avatar {
  position: absolute;
  border-radius: 1rem;
  bottom: -3rem;
  left: 2rem;
  z-index: 999;
  width: 10rem;
}

@media screen and (max-width: 1366px) {
  .banner {
    position: relative;
    height: 30vh;
  }
  .collection-avatar {
    width: 8rem;
  }
}

@media screen and (max-width: 600px) {
  .collection-avatar {
    width: 6rem;
    left: 0.75rem;
  }
}
